<!DOCTYPE html>
<html>
<head>
	<title>Add Event</title>
	<link rel="stylesheet" type="text/css" href="css/addEvent.css">
</head>
<body>
	<header>
        
		<center><h1>Add A NEW EVENT</h1></center>
	</header>

	<section id="add-event">
		<center><h2>Add details about the Event</h2></center>
		<form>
			<label for="event-name">Event Name:</label>
			<input type="text" id="event-name" name="event-name" required>

			<label for="event-date">Date:</label>
			<input type="date" id="event-date" name="event-date" required>

			<label for="event-time">Time:</label>
			<input type="time" id="event-time" name="event-time" required>

			<label for="event-location">Location:</label>
			<input type="text" id="event-location" name="event-location" required>

			<label for="event-description">Description:</label>
			<textarea id="event-description" name="event-description" required></textarea>

			<input type="submit" value="Add Event">
		</form>
	</section>

	<script src="script.js"></script>
</body>
</html>
