<!DOCTYPE html>
<html>
<head>
	<title>Add Event</title>
	<link rel="stylesheet" type="text/css" href="css/addEvent.css">
</head>
<body>
	<header>
        
		<center><h1>Add A NEW EVENT</h1></center>
	</header>

	<section id="add-event">
		<center><h2>Add details about the Event</h2></center>
		<form action="/addEvent" method="post">
			<label for="event-name">Event Name:</label>
			<input type="text" id="event-name" name="eventname" required>

			<label for="event-date">Date:</label>
			<input type="date" id="event-date" name="eventdate" required>

			<label for="event-location">Location:</label>
			<input type="text" id="event-location" name="eventlocation" required>

			<label for="event-description">Description:</label>
			<textarea id="event-description" name="eventdescription" required></textarea>

			<button type="submit">Add Event</button>
		</form>
	</section>
</body>
</html>
