<!DOCTYPE html>
<html>
<head>
	<title>MMCOE News</title>
	<link rel="stylesheet" type="text/css" href="css/addNews.css">
</head>
<body>
	<header>
		<div class="logo">
		<a href="/">	<img src="college_logo.png" alt="MMCOE Logo" height="300" width="300"></a>
		</div>
		<center><h1>ADD A NEWS SNIPPET</h1></center>
	</header>
	<main>

	<section id="news-form">
		<h2>Add News</h2>
		<form action="/addNews" method="post">
			<input type="text" name="subject" placeholder="Subject">
			<textarea name="description" placeholder="Description"></textarea>
			<input type="date" name="date" placeholder="Date">
			<button type="submit">Add News</button>
		  </form>
	</section>

	<section id="news-list">
		<h2>Recent News</h2>
		<ul>
			<li>
				<h3>Orientation Day 2023</h3>
				<p class="date">May 5, 2023</p>
				<p class="content">We are excited to welcome all new students to MMCOE on Orientation Day. Get ready for an amazing journey ahead!</p>
			</li>
			<li>
				<h3>College Fest Announcement</h3>
				<p class="date">April 22, 2023</p>
				<p class="content">Mark your calendars! MMCOE's annual college fest will be held on May 15th. Stay tuned for more updates.</p>
			</li>
			<!-- Add more news items here -->
		</ul>
	</section>
	</main>
	<!-- <script>
		const jsonData = {
		subject: 'Breaking News',
		description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		date: new Date().toISOString()
		};

		fetch('/addNews', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify(jsonData)
		})
		.then(response => response.json())
		.then(data => console.log(data))
		.catch(error => console.error(error));


	</script> -->
</body>
</html>
